@import "../layout/variables.sass"

.lyrics
  max-width: 400px;
  margin-top: 4rem;

  .lyric-content

    p 
      margin-bottom: 0.4rem;
      font-size: 1.45rem;

      span 
        cursor: pointer;
        font-style: italic;
        color: $alt-color;

  .annotation
    background: $text-color;
    color: $main-color;
    padding: 1rem;
    padding-bottom: 0.2rem;
    position: absolute;
    width: 500px;
    max-width: 70%;
    right: 10%;
    
    p 
      font-style: 1rem !important;
